<a href="/Content/MachineDetails/@Model.Id" class="machine-item-link deny">
    <div class="item">

        <div class="thumbnail hover-shadow">



            @*<div class="img-container" style="background-image: url('@Url.Content(Model.MainImage)')">
                </div>*@
            <div class="image-container">
                <div class="model-bar">
                    <div class="model" calss="item-text">@Model.Model</div>
                </div>
                <img class="tractor-img" src="@Model.MainImage" alt="@Model.Model" />
            </div>

            <div class="caption">

                <p class="item-text">
                    @Model.Description
                    <b>Потужність мотору:</b>20кВт
                </p>
                <p class="item-text">
                    @Model.Description
                    <b>Максимальна швидкість:</b>100км/
                </p>
                <p class="item-text">
                    @Model.Description
                    <b>Крутящий момент:</b>20к
                </p>

                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <p class="lead">

                        </p>
                    </div>
                    <div class="col-md-offset-2 col-xs-4 col-md-4">
                        <div class="price">@Model.Price грн</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>

