@model MachineSales.WebUI.Entities.Machine
<a href="@Url.Action("MachineDetails", "Content", new { id = Model.Id })" class="machine-item-link">
    <div class="machines-wrapper">
        <div class="machine-item">
            <div style="background-image: url('@Model.MainImage')" class="machine-image">
                <div class="machine-cost">$@string.Format("{0:0.#####}", Model.Price)</div>
                <div class="machine-gradient"></div>
            </div>
<<<<<<< HEAD
            <div class="machine-body">
                <div class="machine-name">@Model.Model</div>
                @*<div class="machine-about">@Model.Description</div>*@
=======

            @*<div class="img-container" style="background-image: url('@Url.Content(Model.MainImage)')">
                </div>*@
            <div class="image-container">
                <img class="tractor-img" src="@Model.MainImage" alt="@Model.Model" />
            </div>

            <div class="caption">

                <p class="item-text">
                    @Model.Description
                    <b>Потужність мотору:</b>20кВт
                </p>
                <p class="item-text">
                    @Model.Description
                    <b>Максимальна швидкість:</b>100км/
                </p>
                <p class="item-text">
                    @Model.Description
                    <b>Крутящий момент:</b>20к
                </p>

                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <p class="lead">

                        </p>
                    </div>
                    <div class="col-md-offset-2 col-xs-4 col-md-4">
                        <a class="btn btn-success" href="">@Model.Price грн</a>
                    </div>
                </div>
>>>>>>> 7b9e4261c4aa7001341f0c3210ff6e7bec417fff
            </div>
        </div>
    </div>
</a>
