@model MachineSales.WebUI.Entities.DTOs.FullMachineInfoDto
@{
    ViewBag.Title = "MachineDetails";
}
<link href="~/Content/slick.css" rel="stylesheet" />
<link href="~/Content/slick-theme.css" rel="stylesheet" />
<link href="~/Content/slick-lightbox.css" rel="stylesheet" />

<section id="sales">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="slider-for row slider-for-container" id="slid">
                    @{
                        var images = Model.Images;

                        for (int i = 0; i < images.Count; i++)
                        {
                            <div class="col-md-12 slider-img-container" style="cursor: pointer">
                                <img src="@images[i].ImagePath" onclick="openModal();currentSlide(@i+1)" class="slider-img hover-shadow" />
                            </div>
                        }
                    }
                </div>

                <div class="slider-nav">
                    @{
                        for (int i = 0; i < images.Count; i++)
                        {
                            <img src="@images[i].ImagePath" class="hover-shadow" />
                        }
                    }
                </div>

                <div id="myModal" class="modal">
                    <span class="close cursor" onclick="closeModal()">&times;</span>
                    <div class="modal-content">
                        @{
                            for (int i = 0; i < images.Count; i++)
                            {
                                <div class="mySlides">
                                    <div class="numbertext">@i+1</div>
                                    <img src="@images[i].ImagePath" style="width:100%" />
                                </div>
                            }
                        }

                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    </div>
                </div>

            </div>
            <div class="col-md-7">
                <div class="model-big">@Model.Model</div>
                <div>&nbsp;</div>
                <div class="model-description">@Html.Raw(Model.Description)</div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/slick.min.js"></script>
    <script type="text/javascript" src="~/Scripts/slider.js"></script>
</section>